- model_class = Carrier
- content_for :title, t('helpers.titles.edit', model: model_class.model_name.human.titleize)
= render 'form', carrier: @carrier, action: t('helpers.titles.edit', model: model_class.model_name.human)
