/ Footer
%footer.sticky-footer.bg-white
  .container.my-auto
    .copyright.text-center.my-auto
      %span= t('general.copyright')
/ End of Footer

/ Core plugin JavaScript
= javascript_include_tag 'theme/sb-admin-2'
/ Page level plugins
=#%script{:src => "../../assets/theme/vendor/datatables/jquery.dataTables.min.js", type: 'text/js'}
=#%script{:src => "../../assets/theme/vendor/datatables/dataTables.bootstrap4.min.js", type: 'text/js'}
=#/ Page level custom scripts
=#%script{:src => "../../assets/theme/js/demo/datatables-demo.js", type: 'text/js'}