- model_class = Characteristic
- content_for :title, t('helpers.titles.edit', model: model_class.model_name.human.titleize)

= render 'form', characteristic: @characteristic, action: t('helpers.titles.edit', model: model_class.model_name.human)
