- model_class = Characteristic
- content_for :title, t('helpers.titles.new_f', model: model_class.model_name.human.titleize)

= render 'form', characteristic: @characteristic, action: t('helpers.titles.new_f', model: model_class.model_name.human)

