:javascript
  $(function() {
    if (gon.current_dealer.grocer || gon.current_dealer.courier) {
      $('#dataTable').DataTable({
        paging: true,
        searching: true,
        ordering: true,
        language: {
          search: 'Buscar',
          paginate: {
            first: 'Primero',
            previous: 'Anterior',
            next: 'Siguiente',
            last: 'Último'
          },
          info: 'Mostrando _START_ de _END_ registros',
          lengthMenu: 'Mostrar _MENU_ registros'
        },
        "footerCallback": null
      });
    } else {
      $('#dataTable').DataTable({
        paging: true,
        searching: true,
        ordering: true,
        language: {
          search: 'Buscar',
          paginate: {
            first: 'Primero',
            previous: 'Anterior',
            next: 'Siguiente',
            last: 'Último'
          },
          info: 'Mostrando _START_ de _END_ registros',
          lengthMenu: 'Mostrar _MENU_ registros'
        },
        "footerCallback": function (row, data, start, end, display) {
          var api = this.api(),
          intVal = function (i) {
                return typeof i === 'string' ?
                    i.replace(/[, Rs]|(\.\d{2})/g,"")* 1 :
                    typeof i === 'number' ?
                    i : 0;
          },
          total2 = api
              .column(4)
              .data()
              .reduce(function (a, b) {
                  return intVal(a) + intVal(b);
              }, 0);
    
          $(api.column(4).footer()).html(
              '  Q.' + total2
          );
        }
      });
    }
  });

- model_class = TransactionDetail
- content_for :title, model_class.model_name.human.pluralize(I18n.locale).titleize

- unless notice.nil?
  = bootstrap_notice(notice, alert.nil? ? 'success' : 'danger')

= render 'parent', transaction: @transaction, action: t('helpers.titles.new', model: model_class.model_name.human), model_class: model_class
= render 'detail', transaction: @transaction, action: t('helpers.titles.new', model: model_class.model_name.human), model_class: model_class