- model_class = Dealer
- content_for :title, t('helpers.titles.new', model: model_class.model_name.human.titleize)
= render 'form', dealer: @dealer, action: t('helpers.titles.new', model: model_class.model_name.human)
