- model_class = Category
- content_for :title, t('helpers.titles.edit', model: model_class.model_name.human.titleize)

= render 'form', category: @category, action: t('helpers.titles.edit', model: model_class.model_name.human)