- model_class = Transaction
- content_for :title, t('helpers.titles.edit', model: model_class.model_name.human.titleize)
= render 'form', transaction: @transaction, action: t('helpers.titles.edit', model: model_class.model_name.human)

