- model_class = Product
- content_for :title, t('helpers.titles.new', model: model_class.model_name.human.titleize)
= render 'form', product: @product, action: t('helpers.titles.new', model: model_class.model_name.human)